In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("desafio1.csv")

In [19]:
df_stats = df.loc[:,["estado_residencia", "pontuacao_credito"]].groupby(
    by="estado_residencia").agg({"pontuacao_credito": [pd.Series.mode, 'median', 'mean', 'std']})
df_stats.columns = ["moda", "mediana", "media", "desvio_padrao"]

In [23]:
df_stats.transpose()

estado_residencia          PR          RS          SC
moda               850.000000  850.000000  850.000000
mediana            650.000000  650.000000  653.000000
media              648.961294  651.105143  649.537653
desvio_padrao       98.607186   95.136598   97.233493

In [24]:
df_stats.transpose().to_json("submission.json")